@CHARSET "UTF-8";

.wrap ul {
	list-style: none;
}

div.wrap a {
	 color: #333333; 
}

.wrap a:LINK {
	text-decoration: none;
	/* color: black; */
}

.wrap a:HOVER {
	text-decoration: none;
	/* color: #333333; */
	/* background-image: url("sortmenu_btn_on.png"); */
}

.underbar {
	background-image: url("sortmenu_btn_on.png");
	background-repeat: no-repeat;
	background-position: center bottom;
}

.wrap {
	color: #333;
	font-family: '돋움체', Verdana, dotum, Nanum Gothic, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	width: 100%;
	height: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
}

#container {
	height: 500px;
	width: 1000px;
	margin: auto;
}

.back_c {
	background-color: #f2f0e5; /*#F3F2E5;*/
	height: 500px;
	width: 900px;
	border-color: #D5D4C9;
	border-width: 2px;
	border-style: solid;
	margin: auto;
}

.step1, .step2 {
	width: 347px;
	height: 100%;
	float: left;
}


.step1_2 {
	border-color: #D5D4C9;
	border-width: 0px 2px;
	border-style: solid;
	width: 100px;
	height: 100%;
}

.step1_1 {
	border-color: #D5D4C9;
	border-width: 0px 0px 0px 2px;
	border-style: solid;
	width: 100px;
	height: 100%;
}

.title {
	color: #D5D4C9;
	font-weight: bold;
}

.col-head {
	position: relative;
	height: 33px;
	line-height: 33px;
	text-align: center;
	background-color: #333333;
}

.col-body {
	width: 100%;
	height: 90%
}

.movie-list {
	float: left;
	width: 100%;
	height: 97%;
	margin-top: 3px;
	overflow: auto;
	overflow-x: hidden;
}

.movie-select .movie-list  ul {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding-left: 20px;
}

.movie {
	font-size: 10pt;
	font-weight: bold;
	width: 100%;
	cursor: pointer;
}
.poster_src{
	display: none;
}
.movie-select .movie-list  ul>li>a>span {
	padding-left: 5px;
	display: inline-block;
	vertical-align: top;
}

.movie-select .movie-list  ul>li {
	clear: both;
	float: left;
	width: 90%;
	height: 35px;
	line-height: 35px;
	margin-bottom: 1px;
	position: relative;
	padding-left: 0px;
	/*영화 제목이 길경우*/
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	max-width: 95%;
}

.movie-select {
	float: left;
	position: relative;
	margin-left: 20px;
	margin-top: 9px;
	width: 90%;
	height: 90%;
}

.step1-date {
	margin: 30px auto 0px;
	width: 90%;
	height: 97%;
	overflow: auto;
	overflow-x: hidden;
	/* position: relative; */
}

.step1-date ul {
	width: 100%;
	padding: 0px;
	margin-top: 5px;
}

.dimmed {
	width: 60px;
	height: 57px;
	margin: auto;
	margin-bottom: 1px;
	/* margin-left: 12px; */
}

.step1-date ul>li.day, .step1-date ul>li.branch {
	margin: auto;
	width: 70px;
	text-align: center;
	/* margin-left: 20px;
	margin-right: 20px; */
	height: 35px;
	line-height: 35px;
	padding: 0px 2px;
	/* float: right; */
}

.step1-date ul>li span.day, .step1-date ul>li span.branch{
	color: #333;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.step1-date ul>li span.dayweek {
	color: #333;
	font-family: Verdana;
	font-size: 12px;
	cursor: pointer;
}

.step1-date ul>li.sunday span {
	color: #ad2727;
}

.step1-date ul>li.saturday span {
	color: #31597e;
}

.year {
	display: block;
	margin-top: 12px;
	text-align: center;
	color: #666;
	font-size: 11px;
	font-family: Verdana;
	font-weight: bold;
	line-height: 11px;
}

.month {
	display: block;
	margin-top: 3px;
	text-align: center;
	color: #666;
	font-size: 30px;
	font-family: Verdana;
	font-weight: bold;
	line-height: 30px;
}

.time-list {
	float: left;
	width: 320px;
	height: 90%;
	margin-left: 20px;
	overflow: auto;
	overflow-x: hidden;
}

.time-list .theater {
	float: left;
	width: 95%;
	border-bottom: solid 2px #cfcdc3;
}
.one{
cursor: pointer;
}

.time-list .theater .title span.floor {
	color: #333;
	font-size: 12px;
	font-weight: bold;
	margin-right: 5px;
}

.time-list .theater .title span.seatcount {
	color: #666;
	font-size: 12px;
}

.time-list .theater ul {
	width: 100%;
	min-height: 33px;
	margin: 0px;
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.time-list .theater ul li {
	position: relative;
	float: left;
	height: 25px;
	line-height: 25px;
	padding-bottom: 9px;
	padding-right: 15px;
	margin-left: 0px;
}

.time {
	float: left;
	width: 51px;
	height: 25px;
	line-height: 25px;
	color: #333;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana;
	border: 1px solid #d6d3ce;
	background-color: #f2f0e5;
	text-align: center;
}

.time-list .theater ul li span.selected {
	color: white;
}

.time-list .theater ul li span.count {
	float: left;
	width: 30px;
	height: 20px;
	line-height: 25px;
	text-align: left;
	color: #3d7c35;
	font-size: 12px;
	padding-left: 3px;
	vertical-align: bottom;
}

.round {
	margin-left: 5px;
	border-radius: 50%;
	margin-top: 5px;
	width: 25px;
	height: 25px;
}

.selected {
	background-color: #333;
	border: 1px double #5c5c5c;
	/* width: 242px;
	height: 33px; 
	line-height: 33px;*/
}

.movie-select .movie-list ul>li.selected>a>span.subject {
	color: white;
}

.step1-date ul>li.selected>a>span {/*여기 글씨!!*/
	color: white;
	
}

.step2 {
	width: 100%;
	height: 100%;
}

.person_screen {
	position: relative;
	height: 88px;
	width: 100%;
	border-bottom: 2px solid #d4d3c9;
}
/* 
.col-body .section-numberofpeople {
	height: 100%;
	width: 300px;
} */
.adjacent_seat_wrap {
	top: 50%;
	height: 80%;
	width: 260px;
	margin-top: 2px;
	margin-left: 10px;
	margin-right: 10px;
	border-right: 2px solid #d4d3c9;
	float: left;
}

.section-screen-select {
	height: 80%;
	width: 310px;
	top: 50%;
	overflow: visible;
	margin-top: 2px;
	float: left;
	letter-spacing: -2px;
}

.col-body .numberofpeople-select {
	/* margin-left: 15px;
	margin-top:15px;
	padding-top:10px;
	padding-right: 18px;
	padding-bottom:10px; */
	width: 280px;
	height: 80%;
	border-right: 2px solid #d4d3c9;
	float: left;
}

.col-body .numberofpeople-select .group {
	float: left;
	margin-bottom: 15px;
	height: 22px;
	width: 100%;
}

.col-body .numberofpeople-select .group span.title {
	float: left;
	width: 45px;
	height: 22px;
	line-height: 22px;
	color: #666;
	letter-spacing: -0.1em;
}

.col-body .numberofpeople-select .group ul li.selected a {
	border-color: #000;
	background-color: #333;
	color: #fff;
}

.col-body .numberofpeople-select .group ul {
	float: right;
	width: 220px;
	height: 22px;
	line-height: 22px;
	margin: 0px;
	padding: 0px;
}

.col-body .numberofpeople-select .group ul li {
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #d6d3ce;
	background-color: #f2f0e5;
	margin: 0px;
	padding: 0px;
	margin-right: 2px;
}

.col-body .numberofpeople-select .group ul li a {
	display: block;
	height: 18px;
	width: 18px;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border: 1px solid white;
}

.adjacent_seat_wrap .title, .section-screen-select .title {
	display: block;
	margin-right: 12px;
	line-height: 22px;
	color: #666;
	letter-spacing: -0.1em;
}

.block_wrap {
	margin-top: 17px;
	font-size: 0px;
}

.block.selected1 .box {
	background-color: #333;
	border-color: #333;
}

.box {
	font-size: 0;
	width: 13px;
	height: 13px;
	margin-right: 1px;
	vertical-align: middle;
	display: inline-block;
	border: 1px solid #999;
}

.section-screen-select .screen-time {
	margin-top: 15px;
	font-size: 15px;
	letter-spacing: -1px;
}

.section-screen-select .screen-time .step2_time {
	font-family: Verdana;
	font-size: 15px;
	margin-left: 5px;
}

.section-screen-select .screen-time .screen {
	font-weight: bold;
	color: #000;
}

 #wrap_theater {
	background-color: #000;
	opacity: 0.3;
	cursor: default;
}

.theater_minimap {
	position: relative;
	width: 900px;
	height: 330px;
	padding-top: 20px;
	/* opacity: 1;
	visibility: visible; */
	/* 	 background: rgba(0, 0, 0, 0.3);
	 background-color:gray;
	filter:alpha(opacity=50); 지원 IE
    -moz-opacity:0.5; 지원 FF
    opacity:0.5; */
}

.theater_minimap .content {
	width: 700px;
	height: 95%;
	margin-bottom: 20px;
	margin-left: 20px;
	float: left;
}

.theater_minimap .description {
	width: 150px;
	height: 95%;
	float: left;
	margin-left: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.theater_minimap .content .screen {
	height: 30px;
	margin: auto;
	width: 600px;
}

.theater_minimap .content .seats {
	width: 300px;
	height: 250px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 20px;
}

.seats .row {
	float: left;
	height: 15px;
	line-height: 15px;
	margin-bottom: 3px;
}

.seats .row .label {
	float: left;
	margin-bottom: 1px;
	width: 15px;
	height: 14px;
	line-height: 14px;
	border-top: 1px solid #d4d3c9;
	font-size: 11px;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
}

.group_left ul, .group_middle ul, .group_right ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}

.group_left, .group_middle, .group_right {
	float: left;
}

.group_left {
	margin-left: 3px;
}

.group_middle, .group_right {
	margin-left: 16px;
}

.group_left ul li, .group_middle ul li, .group_right ul li {
	float: left;
	width: 14px;
	height: 14px;
	line-height: 14px;
	border: 1px solid #666;
	background-color: #666;
	margin: 0px;
	padding: 0px;
	margin-right: 1px;
}

.row ul li.preselect {
	border: 1px solid #ad1712;
	background-color: #ad1712;
}
.row ul li.select {
	border: 1px solid #ad1712;
	background-color: #ad1712;
}

.row ul li.reservation {
	border: 1px solid #C1C1C1;
	background-color: #C1C1C1;
}

.group_left ul li a, .group_middle ul li a, .group_right ul li a {
	display: block;
	height: 13px;
	width: 13px;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}

.tnb_area {
	width: 100%;
	min-width: 1000px;
	height: 128px;
	background-color: #1d1d1c;
}

.tnb_container {
	z-index: 10000;
	left: 0px;
	bottom: 0;
	width: 900px;
	margin: auto;
	height: 128px;
	/* top: 659px; */
	bottom: auto;
	height: 128px;
}

.default {
	width: 100%;
	font-size: 15pt;
	text-align: center;
	vertical-align: middle;
	font-family: Verdana;
	margin: 35px 0px;
	color: #D5D4C9;
	font-weight: bolder;
}

.tnb {
	margin: 0 auto;
	width: 900px;
	height: 108px;
	padding: 10px 0;
	position: relative;
}

.before_bnt {
	float: left;
	width: 100px;
	height: 108px;
	margin-right: 10px;
	margin-left: 5px;
}

.info.movie {
	width: 200px;
}

.info.movie .movie_poster {
	float: left;
	width: 74px;
	height: 100px;
	line-height: 100px;
	margin-right: 11px;
	overflow: hidden;
}

.poster {
	width: 74px;
	height: 100px;
}

div.wrap .movie_title,div.wrap .movie_title a, div.wrap .movie_grade,div.wrap .movie_grade a {
	margin-top: 10px;
	width: 110px;
	max-height: 40px;
	color: #cccccc;
	float: right;
}

.info.theater {
	width: 190px;
}

.tnb.step1 .info.seat, .tnb.step1 .info.payment-ticket, .tnb.step2 .info.path
	{
	display: none;
}

.info.seat {
	width: 130px;
}

.info.payment-ticket {
	width: 140px;
}

.info.path {
	width: 200px;
}

.info {
	float: left;
	height: 108px;
	padding-right: 2px;
	background:
		url(http://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/tnb/split.png)
		no-repeat right;
	position: relative;
	color: #cccccc;
	font-size: 12px;
}

.row {
	height: 20px;
	line-height: 20px;
}

.row .header {
	width: 50px;
	padding-left: 10px;
	float: left;
}

.row .data {
	font-weight: bold;
}

.tnb .info.theater .row.date .data {
	letter-spacing: -1px;
	width: 110px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	float: left;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	color: #cccccc;
	font-size: 12px;
	background-position: 0 0;
}

.info.seat .row.seat_no span.data {
	width: 70px;
	float: right;
}
.row.payment-adult{
	margin-top: 14px;
}

.row.payment-final .data {
	color: #bf2828;
	font-family: Verdana;
}

.tnb-btn {
	width: 100px;
	height: 100px;
	border-radius: 20px;
	border: 3px solid gray;
	float: right;
	/* margin-top: 12px; */
}
/*스크롤*/
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border: 3px solid #fff;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment
	{
	display: block;
	height: 10px;
	background: #efefef
}

::-webkit-scrollbar-track {
	background: #efefef;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
	position: relative;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	height: 50px;
	width: 50px;
	background: rgba(0, 0, 0, .2);
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .1)
}